<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" type="text/css" 
    href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
</head>
<body>
        <form  action="/result" method="post">
            <label for="">Your Name : 
                <input type="text" name="username" ></label>
            <label for="location">Dojo Location : 
                <select name="location" id="location">
                    <option value="San Jose">San Jose</option>
                    <option value="Los Angilos">Los Angilos</option>
                    <option value="Austin">Austin</option>
                </select>
            </label>   
            <label for="language">Dojo Location : 
                <select name="language" id="language">
                    <option value="Python">Python</option>
                    <option value="Java">Java</option>
                    <option value="C">C</option>
                </select>   
            </label> 
            <label for="text">Comment (optional):
                <textarea name="Comment" id="Comment" cols="40" rows="10"></textarea>
            </label>
                <button class="btn btn-primary" type="submit">Button</button>
                <!-- <label for=""><input type="checkbox" value="">
                <input type="checkbox" value="">
                <input type="radio" value="">
                </label> -->
        </form>

</body>
</html>